<!DOCTYPE html>
<html>
<head>
  <title>Exportling</title>
  <%= stylesheet_link_tag    "exportling/application", media: "all" %>
  <%= javascript_include_tag "exportling/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
