<h2>Exports</h2>

<p>Your recently created exports</p>

<% unless @exports.empty? %>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>File Name</th>
      <th>Type</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <%= render @exports %>
  </table>
<% else %>
  <p>No Exports Found</p>
<% end %>
